# ============================================================
# Industrial IoT Platform - Environment Variables
# ============================================================
# Copy this file to .env and update values

# HiveMQ Cloud
MQTT_BROKER=b99f17b791e64ce9bc41ed7cf260115e.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=hiepdh
MQTT_PASSWORD=Rp_2Ngs7LQZhdb!
MQTT_TOPICS=/factory/#

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=telemetry.raw

# TimescaleDB
TSDB_HOST=localhost
TSDB_PORT=5432
TSDB_DATABASE=telemetry
TSDB_USER=iiot
TSDB_PASSWORD=iiot_dev_2024

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DATABASE=industrial_iot
POSTGRES_USER=iiot
POSTGRES_PASSWORD=iiot_dev_2024

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=iiot_dev_2024
